.maplibregl-popup-content {
  color: white;
  padding: 16px !important;
  border-radius: 8px !important;
  background-color: #161616 !important;
}

.maplibregl-popup-close-button {
  right: 6px !important;
  font-size: 16px;
}

.maplibregl-popup-tip {
  display: none !important;
}